<h1>Bienvenue sur Chrono Explorer 🕰️</h1>

<nav style="margin-bottom: 20px;">
  <a routerLink="/" routerLinkActive="active">Accueil</a>
  <a routerLink="/login" *ngIf="!isLoggedIn()">Connexion</a>
  <a routerLink="/register" *ngIf="!isLoggedIn()">Inscription</a>
  <a routerLink="/favorites" *ngIf="isLoggedIn()">Favoris</a>
  <a routerLink="/admin" *ngIf="isAdmin()">Modération</a>

  <span *ngIf="isLoggedIn()">
    <span *ngIf="isAdmin()" style="color: darkgreen; font-weight: bold;">
      [ADMIN CONNECTÉ 🛡️]
    </span>
    Bonjour, {{ getUsername() }} |
    <a href="#" (click)="logout()">Se déconnecter</a>
  </span>
</nav>

<router-outlet></router-outlet>
